<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
    <title>IT школа</title>
</head>
<body>
    
    <header class="header">
        <div class="three_cub">
            
        </div>

        <div class="container">
            <div class="two76">
                276
            </div>

            <nav class="nav">
                <div class="nav_left">
                    <img src="/static/img/search.png" width="50" alt="">
                </div>
    
                <div class="nav_right">
                    <div class="nav_lang">
                        RU
                    </div>
                    <div class="nav_menu">
                        <img src="/static/img/burger.svg" width="30" alt="">
                    </div>
                </div>
            </nav>

            <div class="h_main">
                <div class="h_main_left">
                    <div class="h_main_left_text">
                        организации<br> обрАзования<br> отдела<br> образования<br> города караганды
                    </div>
                    <div class="h_main_button">
                        <a href="#schools">ШКОЛЫ КАРАГАНДЫ</a>
                    </div>
                </div>

                <div class="h_main_right">
                    <img src="/static/img/logo.png" alt="">
                </div>

            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="main_prim">
                <div class="prim_block">
                    276<br><span>ШКОЛ</span>
                </div>
                <hr>
                <div class="prim_block">
                    1032<br><span>КРУЖКОВ</span>
                </div>
                <hr>
                <div class="prim_block">
                    55<br><span>КЛУБОВ</span>
                </div>
                <hr>
                <div class="prim_block">
                    272<br><span>СЕКЦИИ</span>
                </div>
            </div>
            <hr>
            <div class="main_block">
                <div class="block_button">
                    <a href="#">Ученикам</a>
                </div>
                <div class="block_button">
                    <a href="#">Вакансии</a>
                </div>
                <div class="block_button">
                    <a href="#">Поступление<br>в первый класс</a>
                </div>
            </div>

            <div class="bell">
                <img src="/static/img/image 14.png" alt="">
            </div>

            <div class="main_news">
                <div class="main_news_title">
                    Новости организаций образования
                </div>

                <div class="main_news_posts">
                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>


                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>


                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>


                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>

                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>
                </div>



                <div class="main_news_posts">
                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>


                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>


                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>


                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>

                    <div class="main_news_block">
                        <div class="news_img">
                            <img src="/static/img/image 21.png" alt="">
                        </div>

                        <div class="news_title">
                            Первые уроки в школе №73
                        </div>

                        <div class="news_school">КГУ осш №73</div>
                        <div class="news_date">
                            23.03.22
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="schools" id="schools">
            
        <div class="school_menu">
            <div class="sm_title">
                Школы
            </div>
            <div class="sm_menu">
                <div class="sm_name">
                    Новый город
                </div>

                <div class="sm_name active">
                    Юго-Восток
                </div>

                <div class="sm_name">
                    Майкудук
                </div>

                <div class="sm_name">
                    Михайловка
                </div>

                <div class="sm_name">
                    Сортировка
                </div>

                <div class="sm_name">
                    Пришахтинск
                </div>
            </div>
        </div>

        <div class="schools_names">
            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>
        </div>

        <div class="schools_names">
            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>
        </div>

        <div class="schools_names">
            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>

            <div class="names">
                КГУ "СОШ №66"
            </div>
        </div>

        </div>

        <div class="main_raiting">
            <div class="polosa_1">

            </div>

            <div class="polosa_2">
                рейтинг школ по Единому национальному тестированию(ент)
            </div>

            <div class="three_red">
                <div class="three_table">
                    <div class="tt_title">
                        ВСЕ ШКОЛЫ
                    </div>

                    <div class="tt_content">
                        <div class="tt_stats">
                            <div class="tt_left">
                                Всего учащихся:<br>
                                Сдали: <br>
                                Пересдавали: <br>
                                Не сдали: <br>
                                Процент успеваемости: <br>
                                Улучшение: 
                            </div>

                            <div class="tt_right">
                                42 654 <br>
                                36 575 <br>
                                6 954 <br>
                                6 951 <br>
                                 64% <br>
                                0,96% 
                            </div>
                        </div>

                        <div class="tt_table">
                            <img src="/static/img/Chart.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>


            <div class="three_photo">
                <div class="tp_block">
                    <div class="tp_text">
                        <b>Единое национальное тестирование</b><br><br>

                        (каз. Ұлттық бірыңғай тестілеу; сокр. ЕНТ каз. ҰБТ) — система оценки знаний выпускников, 
                        применяемая в Республике Казахстан. Результаты ЕНТ признаются школами, колледжами и вузами 
                        в качестве результатов вступительных экзаменов. Впервые ЕНТ было введено в 2004 году. 
                        Единое национальное тестирование проводят в последних числах июня. ЕНТ проходит в один этап
                         и оценивается по 140-балльной шкале, всего заданий 120. Время тестирования — 4 часа.
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="container">
            Контакты<br><br>

            +7 (7212) 34–34–28 <br>
            +7 (7212) 34–34–28 <br>
            Email goroo@kargoo.kz <br>
            Республика Казахстан <br>
            город Караганда <br>
            Степной 2-й микрорайон, 9 <br>
        </div>
    </footer>

</body>
</html>